@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER STYLING */

header {
    width: 100%;
    background-color: #6F16D8;

    .header-wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #6F16D8;
        width: 80%;
        margin: 0 auto;

        .nav-links {
            display: flex;
            gap: 1.5rem;
            justify-content: center;
            align-items: center;

            a {
                text-decoration: none;
                color: white;
                font-size: 1.1rem;
                padding: 0.5rem 0rem;
            }

            .active {
                border-bottom: 2px solid white;
            }
        }
    }
}

/* MAGIC AREA STYLING */

.magic-area {
    width: 100%;
    background-color: #6F16D8;

    .magic-area-wrapper {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;

        .magic-area-content {
            color: white;
            display: flex;
            flex-direction: column;
            gap: 5rem;

            h1 {
                font-size: 3.5rem;
            }

            p {
                font-size: 1.2rem;
            }

            .magic-button-area {
                display: flex;
                justify-content: start;
                gap: 1rem;
                padding: 0.5rem;

                button {
                    &:hover {
                        cursor: pointer;
                    }
                }

                .join-button {
                    background-color: #fff;
                    color: black;
                    border: none;
                    font-size: 1.2rem;
                    padding: 1rem 1.3rem;
                    border-radius: 10px;
                }

                .explore-button {
                    background-color: #6F16D8;
                    border: 1px solid white;
                    border-radius: 10px;
                    padding: 0.7rem 1.3rem;
                    color: white;
                    font-size: 1.2rem;
                }
            }
        }

        .magic-area-image {
            img {
                width: 90%;
                height: 100%;
            }
        }
    }
}

/* PROVIDE AREA STYLING */

.provide-area {
    width: 100%;
    background-color: #fff;
    padding: 3rem 0rem;

    .provide-wrapper {
        width: 100%;
        margin: 0 auto;

        .provide-heading {
            width: max-content;
            margin: 0 auto;
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            h1 {
                font-size: 3rem;
                width: 70vw;
            }

            p {
                font-size: 1.2rem;
                width: 70vw;
            }
        }

        .provide-cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
            padding: 4rem 0rem;
            width: 80%;
            margin: 0rem auto;

            .provide-card {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                align-items: flex-start;
                padding: 4rem 1.5rem;
                border-radius: 10px;
                transition: 1s all;

                img {
                    width: 50px;
                    height: 50px;
                }

                p {
                    color: grey;
                }

                i {
                    font-size: 1.5rem;
                }

                &:hover {
                    background: rgb(80, 16, 159);
                    background: linear-gradient(0deg, rgba(80, 16, 159, 1) 19%, rgba(111, 23, 217, 1) 100%);
                    color: #fff;

                    p {

                        color: white;
                    }
                }

            }

        }
    }
}

/* IMAGE CONTENT AREA */

.image-content-area {
    width: 100%;
    background-color: #fff;
    padding: 4rem 0rem;

    .image-content-wrapper {
        width: 80%;
        margin: 0 auto;

        .image-content-item {
            display: flex;
            gap: 10rem;
            justify-content: center;
            align-items: center;
            margin: 10rem auto;

            .image-area {
                img {
                    width: 40vw;
                }
            }
        }

        .content-area {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2rem;

            h1 {
                font-size: 2rem;
            }

            p {
                color: grey;
                font-size: 1.2rem;
            }

            button {
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                background-color: #6F16D8;
                color: white;
                width: max-content;
                padding: 1rem 2rem;
                font-size: 1.2rem;
                border: none;
                border-radius: 10px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

/* SWIPER AREA */

.swiper {
    width: 60%;
    margin: 2rem auto;
    padding: 4rem 0rem;
    box-shadow: rgba(111, 22, 216, 0.5) 0px 5px 15px;
    border-radius: 10px;

    .swiper-wrapper {
        width: 60%;

        .swiper-slide {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 4rem;
            padding: 2rem 0rem;

            .swiper-img-area {
                img {
                    border-radius: 50%;
                    width: 150px;
                    height: 150px;
                }
            }

            .swiper-name-area {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                p {
                    width: 90%;
                    display: block;
                    margin: 0rem auto;
                }
            }
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: #6F16D8;
    }
}

/* NEWSLETTER AREA */

.newsletter-area {
    width: 100%;
    background-color: #6F16D8;
    color: white;
    padding: 2rem 0rem;

    .newsletter-wrapper {
        width: 60%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 3rem;

        h1 {
            font-size: 3rem;
            text-align: center;
        }

        p {
            font-size: 1.2rem;
            text-align: center;
        }

        .subs-area {
            display: flex;
            flex-direction: column;
            gap: 4rem;

            input {
                width: 100%;
                background-color: #6F16D8;
                border: none;
                border-bottom: 1px solid white;
                font-size: 2rem;
                text-align: center;
            }

            ::-webkit-input-placeholder {
                /* Chrome/Opera/Safari */
                color: white;
            }

            ::-moz-placeholder {
                /* Firefox 19+ */
                color: white;
            }

            :-ms-input-placeholder {
                /* IE 10+ */
                color: white;
            }

            :-moz-placeholder {
                /* Firefox 18- */
                color: white;
            }

            button {
                width: max-content;
                display: block;
                margin: 0 auto;
                background-color: #6F16D8;
                color: white;
                font-size: 2rem;
                padding: 0.5rem 1rem;
                border: 1px solid white;
            }
        }
    }
}


/*CARD HOVER EFFECT */
body .provide-area .provide-wrapper .provide-cards .purple {
    background: rgb(80, 16, 159);
    background: linear-gradient(0deg, rgba(80, 16, 159, 1) 19%, rgba(111, 23, 217, 1) 100%);
    color: white;

    p {
        color: white;
    }
}

@media screen and (max-width: 960px) {
    body .provide-area .provide-wrapper .provide-cards {
        display: block;
        grid-template-columns: repeat(1, 1fr);
        .provide-card {
            margin: 1rem auto;
            width: 60vw;
        }
    }
}